<h1>test</h1>

<a href=""></a>

<input type="button" onclick="window.location.href='./auth/spotify';" value="Spotify Auth" />

<input type="button" onclick="window.location.href='./list';" value="List Spotify" />

<hr>

{{#if accessToksfden}}
    <h4> Spotify Tokens </h4>

    <h6>Access Token: <span>{{accessToken}}</span> </h6>
    <br>
    <h6>Refresh Token: <span>{{refreshToken}}</span> </h6>
    <br>
    <h6>Expires In: <span>{{expires_in}}</span> </h6>
    <br>
    <h6>Profile Token: <span>{{profile}}</span> </h6>
    <br>
    <h6>Profile ID: <span>{{id}}</span></h6>

<hr>
{{/if}}

<h4> Profile Data</h4>

    {{!-- <div id="spotify"> --}}

    <table id="spotify">
      <tr>
        <th>Playlist Cover</th>
        <th>Name</th>
        <th>Songs</th>
        <th>Select?</th>
      </tr>

    </table>
    {{!-- </div> --}}
    {{profileData}}

<hr>
{{!-- <h4>Playlist Data</h4>
{{playlistData}} --}}

{{#if spotifyPlaylist}}
<script>
    {{!-- console.log("Starting script") --}}
    const playlist =JSON.parse(decodeURIComponent("{{{spotifyPlaylist}}}"))
    for(const elem of playlist){
        {{!-- console.log(elem["name"]) --}}
        let imgUrl = elem["images"][0]["url"]
        let title = elem["name"]
        let trackCount = elem["tracks"]["total"]
        {{!-- console.log(elem["id"]) --}}
        document.getElementById("spotify").innerHTML +=  `
        <tr>
            <td><img src="${imgUrl}" style="aspect-ratio:1;width:200px;"></td>
            <td><h1>${title}</h1></td>
            <td><p>${trackCount} Songs</p></td>
            <td> <input type="button" onclick="window.location.href='./playlist/${elem["id"]}';" value="Select This playlist" />
</td>
          </tr>
         `     
        {{!-- document.getElementById("spotify").innerHTML +=  `<div class="container">
      
      <div class="text">
        <h1>${title}(${trackCount} Tracks)</h1>
      </div>
      <div class="image">
        <img src="${imgUrl}">
      </div>
    </div>` --}}

    }      

</script>
{{/if}}